.button {
  display: inline-block;
  background-color: var(--blue-light);
  margin-right: 0;
  padding: 18px 20px;
  box-shadow: 5px 5px 2px black;
  border-radius: 6px;
  font-size: 20px;
  transition: background 200ms;
  transition: transform 100ms linear;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: var(--blue-dark);
  color: white;
  transform: scale(1.05);
}
