:root {
  --primary-color: hsl(29, 100%, 63%);
  --blue-light: hsla(191, 34%, 65%);
  --blue-dark: hsl(191, 25%, 39%);
  --titlename-color: hsl(194, 97%, 54%);

  font-size: 62.5%; /*62,5% = 1rem*/
}

a.main-action {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-family: 'fira code';
  font-weight: 500;
  text-decoration: none;
  margin-right: 3rem;
}

a.main-action::before {
  content: '';
  background-color: var(--blue-light);
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  transition: background 200ms;
}

a.main-action:hover::before {
  background-color: var(--blue-dark);
  color: white;
  transform: scale(1.05);
}
