.main-contact {
  background-color: #3a4042;
  padding-top: 5rem;
  padding-bottom: 4.7rem;

  padding-left: 4rem;
  padding-right: 4rem;
}

.name,
.email,
.mensagem {
  font-family: 'Fira Code';
  font-weight: 300;
  font-size: 3rem;
  color: white;
}

#nome {
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  border: 5px solid #000000;
  margin-bottom: 0.9rem;
  font-size: 2.5rem;
}

#email {
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  border: 5px solid #000000;
  margin-bottom: 3.1rem;
  font-size: 2.5rem;
}

#texto {
  box-sizing: border-box;
  border: 5px solid #000000;
  width: 100%;
  height: 31.8rem;
  font-size: 2.5rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.main-button.-send {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  height: 6rem;
  transition: background 200ms;
  transition: transform 200ms linear;
  font-family: 'Fira Code';
  color: white;
  font-weight: 300;
  font-size: 3rem;
}

.main-button.-send:hover {
  background-color: #cf6c24;
}
