:root {
  --primary-color: hsl(29, 100%, 63%);
  --blue-light: hsla(191, 34%, 65%);
  --blue-dark: hsl(191, 25%, 39%);
  --titlename-color: hsl(194, 97%, 54%);
}

header.main-menu {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: 10px solid black;
  padding: 10px 20px;
}
