.node-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.node-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 0rem;
  box-sizing: border-box;
  width: 4rem;
  border-top: 2.5px dashed black;
  transform: rotate(90deg) translateX(140%);
  bottom: 100%;
}

.node-card .title {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--primary-color);
  font-family: 'Press Start 2P', sans-serif;
  margin-bottom: 5rem;
}

.node-card .logo {
  display: flex;

  align-items: center;

  border: 0.5rem solid black;

  box-sizing: border-box;
}
