.skills {
  background-color: var(--blue-light);
  padding-top: 5rem;
  padding-bottom: 10rem;
  border-bottom: 1rem solid #7c5e99;
}

.skills .main-title {
  margin-bottom: 6rem;
}

.skills.-black {
  background-color: black;
  border-color: var(--blue-light);
}
