.timeline {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding-right: 10rem;
  padding-left: 10rem;
  margin-top: 6.6rem;
}

.timeline::after {
  content: '';
  position: absolute;
  left: 50;
  top: 3rem;
  display: block;
  height: 0.58rem;
  width: calc(100% - 10rem);
  background-color: black;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  top: 3rem;
  display: block;
  border: 0.3rem dashed black;

  width: 100%;
}

.timeline .button-arrow {
  position: absolute;
  bottom: 45%;
  transform: translateY(50%);
  transition: background 200ms;
}

.timeline .button-arrow:hover {
  background-color: #CF6C24;
}

.timeline .button-arrow.-left {
  left: 1.5rem;
}

.timeline .button-arrow.-right {
  right: 1.5rem;
}
