.wrapper-skill {
  display: flex;
  flex-wrap: wrap;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-skill .skill-tec {
  width: 43rem;
  margin-bottom: 4rem;
}

.wrapper-skill .skill-tec:nth-child(odd) {
  margin-right: 10rem;
}

.wrapper-skill .progress-bar {
  width: 32rem;
}
